

$font-p: normal normal 500 14px/18px 'Cabin', sans-serif;;
$font-titles: normal normal bold 22px/22px 'Roboto';
$color--white: #FFFFFF;
$color--grey1: #F5F5F5;
$color--grey2:#9ba0b6;
$color--black: #000;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
